.super-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #282c34;
}

#timer {
    font-size: 15vh;
    margin: 10%;
    color: #fff;
}

#help-tip {
    font-size: 5vh;
    margin: 10%;
    color: #ffcc00;
}