#super-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #282c34;
}

#timer {
    font-size: 15vh;
    margin: 10%;
    color: #fff;
    cursor: pointer;
}

#help-tip {
    text-align: center;
    font-size: 5vh;
    margin: 10%;
    color: #ffcc00;
}
#help-tip-extra {
    text-align: center;
    font-size: 2vh;
    margin: 1%;
    color: #99aabb;;
}

@media screen and (max-width: 600px) {
    #help-tip {
        font-size: 3vh;
    }
    #help-tip-extra {
        visibility: collapse;
    }
}